/* <!--  footer  --> */
* {
  margin: 0;
}
.footer {
  /* border: 2px solid #c89bff; */
  padding: 20px 50px;
  background-color: #f1f1f1;
  /* width: 90%; */
  /* margin: 20px auto; */
  /* border-radius: 8px; */
  position: relative;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logo img {
  width: 200px;
}

.footer-info,
.footer-contact,
.footer-support {
  /* width: 25%; */
  /* text-align: center; */
}

.footer h3 {
  font-size: 18px;
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer p {
  font-size: 14px;
  color: black;
  line-height: 1.6;
}
