* {
  margin: 0;
  /* background-color: black; */
  /* user-select: none; */
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  padding: 5px 50px;
}

#logo_header {
  width: 200px;
  /* height: 80px; */
}

#logo_header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search_box {
  width: 400px;
  height: 30px;
  margin-left: 50px;
}

.search_box {
  width: 100%;
  height: 100%;
  display: flex;
}

.search_box .icon {
  width: 29px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-right: 1px solid #a75026;
}

.search_box .icon i {
  color: #a75026;
  transition: tran 0.6s ease;
}

.search_box .icon i.active {
  tran: rotate(180deg);
}

.search_box .box_input {
  width: 340px;
  height: 30px;
  max-height: 30px;
  overflow: hidden;
  transition: height 0.6s ease;
  position: relative;
  z-index: 5;
}

.search_box .box_input.active {
  max-height: 100px;
  height: 90px;
}

.search_box .box_input input {
  width: calc(340px - 20px);
  height: calc(30px - 6px);
  padding: 3px 10px;
  border: none;
}

.search_box .box_input input + input {
  height: calc(30px - 7px);
  border-top: 1px solid #a75026;
}

.search_box .box_input input:focus {
  outline: none;
}

.search_box button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #fff;
  cursor: pointer;
  border-left: 1px solid #a75026;
}

.search_box button i {
  color: #a75026;
}

.product_box {
  margin-left: auto;
  margin-right: 20px;
  height: 40px;
  padding: 0 10px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product_box i {
  color: #a75026;
  margin-right: 5px;
}

.product_box:hover {
  background-color: #fff;
}

.cart_box {
  margin-right: 20px;
  height: 40px;
  padding: 0 10px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart_box i {
  color: #a75026;
  margin-right: 5px;
}

.cart_box:hover {
  background-color: #fff;
}

.account_box {
  /* margin-left: auto; */
  height: 40px;
  padding: 0 10px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.account_box:hover {
  background-color: #fff;
}

.account_box .avatar {
  /* border: 1px solid #a75026; */
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  display: inline-block;
  float: left;
}

.account_box .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* object-fit: cover; */
}

.account_box span {
  float: left;
  white-space: nowrap;
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}

.account_box .sub_menu {
  margin-top: 5px;
  clear: both;
  width: 170px;
  background-color: #fff;
  box-shadow: 1px 1px 5px black;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
}

.account_box .sub_menu li {
  height: 30px;
  line-height: 30px;
  /* text-align: right; */
  padding: 0 10px;
  border-bottom: 1px solid #000;
  transition: 0.3s;
}

.account_box .sub_menu li:hover {
  background-color: #f2f2f2;
}
