body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Bọc chung sidebar + slider */
.top-section {
  display: flex;
  padding: 0 50px;
}

.sidebar {
  width: 20%;
  background-color: #f1f1f1;
  position: relative;
  box-sizing: border-box;
}

/* Nút menu đầu */
.menu-btn {
  padding: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: default;
  background-color: #a75026;
  color: #fff;
}

.menu-btn span {
  font-size: 20px;
  margin-right: 10px;
}

/* Danh sách thể loại */
.menu-list {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
}

/* Mục trong danh sách */
.menu-list a {
  padding: 15px;
  text-decoration: none;
  transition: background 0.2s;
}

.menu-list a:not(.menu-more):hover {
  background-color: #f0f0f0;
}

.menu-list a.menu-more {
  font-size: 12px;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list a.menu-more:hover {
  text-decoration: underline;
}

.swiper-container {
  width: 80%;
  height: 100%;
  margin-left: 20px;
  overflow: hidden;
}

.swiper-container .swiper-wrapper {
  display: flex;
}

.swiper-wrapper .swiper-slide {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
}

.swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

/* === PHẦN DANH SÁCH SÁCH === */
.books-container {
  padding: 20px 0;
  margin: 0 50px;
}

.category-section {
  margin-bottom: 30px;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a75026;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.category-header a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.category-header a:hover {
  text-decoration: underline;
}

.books-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.books-list a {
  min-width: calc(20% - 20px);
  background-color: white;
  border-radius: 5px;
  margin: 0 10px;
}

.books-list a .book-item {
  width: 100%;
  height: 100%;
  text-align: center;
}

.book-item img {
  max-width: 100%;
  min-width: 170px;
  height: 230px;
  object-fit: cover;
  /* border: 1px solid #ddd; */
  margin-top: 5px;
}

.book-title {
  /* background-color: pink; */
  font-weight: bold;
  margin-top: 5px;
  font-size: 18px;
  line-height: 30px;
  height: 30px;
  padding: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-price {
  color: red;
  font-size: 14px;
  margin: 5px 5px 10px 5px;
}

@media only screen and (max-width: 1050px) {
  .top-section {
    padding: 0 30px;
  }

  .sidebar {
    width: 25%;
  }

  .menu-btn {
    padding: 12px;
  }

  .menu-btn span {
    font-size: 18px;
    margin-right: 10px;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
  }

  .menu-list a {
    padding: 10px;
  }

  .books-container {
    margin: 0 30px;
  }

  .books-list a {
    min-width: calc(25% - 20px);
  }

  .book-item img {
    height: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .top-section {
    display: none;
  }

  .books-container {
    margin: 0 10px;
    padding: 10px 0;
  }

  .category-header {
    padding: 7px;
    font-size: 16px;
  }

  .books-list {
    flex-wrap: wrap;
  }

  .books-list a {
    min-width: calc(50% - 10px);
    max-width: calc(50% - 10px);
    margin: 5px;
  }

  .book-item img {
    height: 200px;
  }
}
