#category-header {
    position: relative;
}

#addCategoryBtn {
    position: absolute;
    border: solid 1px #4CAF50; /* Green */
    padding: 15px;
    border-radius: 10px;
    right: 20px;
    top: 10px;
    color: black;
    background-color: white;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out; 
    display: inline-flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

#addCategoryBtn:hover {
    color: white;
    background-color: #45a049; 
}

#addCategoryBtn:active {
    color: white;
    background-color: #3e8e41; 
}

#addCategoryBtn i {
    margin-right: 10px;
    vertical-align: middle;
}

#category-order {
    width: 150px;
}

#category-name {
    text-align: center;
}

#category-features {
    width: 150px;
}

/* Create new category */
#category-name-input {
    width: calc(100% - 50px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 10px;
}

.category-create-Btn-div {
    margin-left: 10px;
    margin-right: 10px;
}

.category-create-Btns {
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#createCategoryBtn {
    background-color: #3ea2e1; 
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; 
}
#createCategoryBtn:hover {
    background-color: #2b76a4; 
}
#createCategoryBtn:active {
    background-color: #1c4f6e; 
}

#cancelCategoryBtn {
    background-color: red; 
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; 
}
#cancelCategoryBtn:hover {
    background-color: #b30000; 
}
#cancelCategoryBtn:active {
    background-color: #800000; 
}

/* Edit category */
#editCategoryBtn {
    border: solid 1px #3ea2e1;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; 
}
#editCategoryBtn:hover {
    color: white;
    background-color: #2b76a4; 
}
#editCategoryBtn:active {
    color: white;
    background-color: #1c4f6e; 
}

/* Delete category */
#deleteCategoryBtn {
    border: solid 1px red; 
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; 
}
#deleteCategoryBtn:hover {
    color: white;
    background-color: red; 
}
#deleteCategoryBtn:active {
    color: white;
    background-color: #da0000; 
}

@media only screen and (max-width: 600px) {
    #category-order {
        max-width: 45px;
    }

    #category-features {
        max-width: 100px;
    }

    #editCategoryBtn {
        margin-bottom: 5px;
    }
}