.header {
    background-color: #283339;
    height: 50px;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-header h4 {
    color: white;
}

#admin-logo {
    display: flex;
    position: absolute;
    height: 50px;
    right: 150px;
    line-height: 50px;
}

#mobile-menu-toggle {
    display: none; /*mặc định ẩn trên desktop*/
    background: none;
    border: none;
    font-size: 24px;
    color: white;
}

#admin-logo :hover {
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1.1);
}

#admin-name-container {
    display: flex;
    align-items: center;
    position: absolute;
    right: 100px;
    height: 50px;
    line-height: 50px;
}

#admin-name {
    color: white;
    margin-left: 10px;
    font-weight: bold;
}

#menu-down {
    display: none;
    position: absolute;
    width: 15%;
    top: 50px;
    right: 65px;
    line-height: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#menu-down.active {
    display: flex;
}

#menu-down button {
    background-color: #283339;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    width: 80%;
    margin: 5px 0;
    text-align: center;
}

#menu-down button:hover {
    background-color: #1a1a1a;
    transition: all 0.3s ease;
    transform: scale(1.05);
}

#menu-down ul, li {
    list-style-type: none;
    margin-right: 10px;
}

@media only screen and (max-width: 1050px) {
    .header {
        height: 60px;
        justify-content: space-between;
        padding: 0 20px;
    }

    #logo-header {
        position: relative;
        left: 300px;
    }

    #admin-logo {
        right: 90px;
    }

    #admin-name-container {
        right: 40px;
    }

    #menu-down {
        width: 20%;
        right: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        height: 70px;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10px;
    }

    #logo-header {
        left: 200px;
    }

    #admin-logo {
        right: 60px;
        height: 50px;
    }

    #mobile-menu-toggle {
        display: block;
        position: absolute;
        left: 10px;
        top: 20px;
        z-index: 1000;
        cursor: pointer;
    }

    #menu-down {
        width: 80%;
        top: 70px;
        left: 200px;
    }

    #menu-down button {
        width: 90%;
        margin: 5px auto;
    }

    #admin-name-container {
        display: none;
    }
}