#left-menu {
    width: 300px;
    background-color: #283339;
    
    /* height: 100%; */
}

#left-menu div {
    color: white;
    height: 60px;
    padding-left: 35px;
    line-height: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#left-menu div + div{
    margin-top: px;
}

#left-menu div:hover {
    cursor: pointer;
    background-color: black;
}

.menuitems i {
    padding-right: 15px;
    font-size: 1.2em;
}
